*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: #747373;
  font-family: 'Montserrat', sans-serif;
  background: white;
}

h1 {
  color: #3199d1;
  font-family: 'Gruppo', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 32px;
  width: 100%;
  text-align: center;
}

h2 {
  color: #3199d1;
  font-size: 1.75rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
}

header {
  margin-bottom: 50px;
}

.gradient {
  /* Learn more about creating a linear gradient: https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient */
  background: linear-gradient(180deg, #377a9000 88.54%, #63bff040 100%), #FFF;
}

header,
section,
footer {
  /* Add a Flexbox property to make the content-wrapper a flex parent container. */

  /* Add a Flexbox property to center the contents of each section. */

}

.content-wrapper {
  width: 90%;
  max-width: 1200px;
  /* Add a Flexbox property to make the content-wrapper a flex parent container. */

  /* Add the Flexbox property flex-flow: row wrap; to allow the flex child items to wrap. */

  margin: 50px 0;
}

.header-content-wrapper {
  /* Add a Flexbox property to make the header-content-wrapper a flex parent container. */

  /* Add a Flexbox property to center the contents of the header. */

  /* Add a Flexbox property to align the contents at their center. */

  /* Add the Flexbox property flex-flow: row wrap; to allow the flex child items to wrap. */

  width: 100%;
  padding-bottom: 50px;
}

.booking-link {
  text-decoration: none;
  background: #2C7BA5;
  padding: 20px 30px;
  border-radius: 5px;
  color: white;
  font-size: 1.25rem;
}

.about-content-wrapper {
  /* Add a Flexbox property to make the about-content-wrapper a flex parent container. */

  /* Add a Flexbox property to center the paragraph in the header. */

}

.about-info {
  width: 100%;
}

.services-content-wrapper {
  /* Add a Flexbox property to make the services-content-wrapper a flex parent container. */

  /* Add a justify-content property and value so that any extra space in the parent container is between the child flex items as the layout changes and more than one card is on a row.  */

  /* Add the Flexbox property flex-flow: row wrap; to allow the flex child items to wrap. */

}

.services-description {
  width: 100%;
  /* Add a Flexbox property to make the services-content-wrapper a flex parent container. */

  /* Add flex-direction: column; so that the services card's child flex items are laid out in a column. */

  margin-bottom: 50px;
}

.services-image img {
  /* Adding object-fit: cover; allow the image to fill the space. */
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 5px 5px 0 0;
}

.services-description span {
  font-style: italic;
  color: #377a90;
}

.testimonial-content-wrapper {
  /* Add a Flexbox property to make the testimonial-content-wrapper a flex parent container. */

  /* Add a justify-content property and value so that any extra space if the parent container is between the child flex items.  */

  /* Add the Flexbox property flex-flow: row wrap; to allow the flex child items to wrap. */

  /* Add align-items: flex-start; so that the background adjusts to the height of the testimonial. */

}

.testimonial {
  width: 100%;
  padding: 10px;
  background: #f9f7f6;
  margin-bottom: 25px;
  border-radius: 5px;
}

.footer-content-wrapper {
  /* Add a Flexbox property to make the testimonial-content-wrapper a flex parent container. */

  /* Add a justify-content property and value so that any extra space if the parent container is around the child flex items.  */

  /* Add a Flexbox property to align the contents at their center. */

}

.contact-wrapper {
  margin-bottom: 50px;
}

.icon-wrapper {
  /* Add a Flexbox property to make the icon-wrapper a flex parent container. */

  /* Add a Flexbox property to center the icons in their parent container. */

  /* Add gap: 20px; to create space between the icons. */
}

.contact-wrapper i {
  font-size: 2rem;
  color: #3db3f2;
}

@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  .services-description {
    width: 100%;
    /* Add flex-direction: row; so that the services cards layout changes to a row orientation. */

    /* Add a justify-content property and value so that any extra space if the parent container is between the child flex items.  */

  }

  .wrap-reverse {
    /* Add flex-direction: row-reverse; to change the direction of the second service */

  }

  .services-image {
    width: 35%;
  }

  .services-image img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 5px 5px;
  }

  .services-description p {
    width: 60%;
  }

  .about-info {
    width: 70%;
  }

  .contact-wrapper {
    margin-bottom: 0;
  }

}

@media (min-width: 1200px) {
  .header-content-wrapper {
    /* Add a justify-content property and value so that any extra space if the parent container is between the h1 and "Book a Consultation link.  */

  }

  h1 {
    width: 60%;
    padding-bottom: 0;
  }

  .about-info {
    text-align: center;
  }

  .services-description {
    width: 25%;
    /* Add flex-direction: column; so that the services card's child flex items are laid out in a column again. */

    /* Add justify-content: flex-start; so the text is aligned at the top. */

    margin-bottom: 0;
  }

  .services-image {
    width: 100%;
  }

  .services-image img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0 0;
  }

  .services-description p {
    width: 100%;
  }

  .testimonial {
    width: 30%;
    width: 45%;
  }
}